header {
  align-items: center;
  background: #32325d;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  gap: 10px;
  height: 35px;
  left: 0;
  padding: 10px 55px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

header h1 {
  color: #ffffff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

header img {
  flex-shrink: 0;
  height: 25px;
  margin-right: 8px;
  width: 25px;
}

.postTitle {
  color: #3a4f9a;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 20px;
  margin-top: 75px;
  padding: 55px;
  text-decoration: underline;
  text-underline-offset: 20px;
}

#postsContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px 15px;
}

.postContent {
  color: #575757;
  display: -webkit-box;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1.3px;
  line-height: 20px;
  margin: 20px 20px;
  overflow: hidden;
  padding: 0 10px;
  text-align: justify;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.postImage {
  border-radius: 10px 10px 0 0;
  height: 350px;
  object-fit: cover;
  width: 100%;
  object-position: top;
}

.expandLink {
  color: #3a4f9a;
  display: block;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.3px;
  line-height: 20px;
  padding: 0px 30px 10px 0px;
  text-align: right;
  text-decoration: none;
}

.postSection {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  height: auto;
  margin: 30px;
  overflow: hidden;
  width: 25%;
}

#postsContainer h3 {
  color: #3a4f9a;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 20px;
  margin: 20px 20px;
  padding: 0 10px;
}

.detailedPost {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.detailedPostImage {
  height: 400px;
  object-fit: cover;
  width: 100%;
}

.detailedPostTitle {
  color: #3a4f9a;
  font-size: 17px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2px;
  padding-top: 10px;
  padding-left: 50px;
}

.detailedPostContent {
  color: #575757;
  font-size: 13px;
  font-family: Inter;
  font-style: normal;
  text-align: justify;
  font-weight: 300;
  letter-spacing: 1.3px;
  padding: 0px 50px 15px 50px;
}

.postButtonImage {
  background-color: #32325d;
  position: fixed;
  top: 80px;
  left: 50px;
  margin: 5px;
  border: 2px solid #32325d;
  border-radius: 50%;
  padding: 5px;
}

.commentsSection {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  border: 1px solid #ccc;
  border-radius: 0px 0px 4px 4px;
  padding: 10px;
  margin-top: -1px;
  margin-bottom: 50px;
  width: 870px;
  margin: 0 auto;
}

.comment {
  padding: 5px 30px 5px 30px;
  border-bottom: 1px solid #ccc;
}

.comment:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.commentBody {
  margin: 0;
  color: #575757;
  font-size: 13px;
  font-family: Inter;
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1.6px;
  text-align: justify;
}

.commentUsername,
.commentEmail {
  color: #3a4f9a;
  font-size: 13px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1.6px;
}
